---
title: "Ticker: HAIRY"
---
<section class="hero">
	<div class="text-container">
		<div>
			<img src="{{ site.baseurl }}/images/hairy_staking.png" alt="Screenshot" class="" />
		</div>
		<h1 class="editable">An <strong>Australian</strong> Based Cardano Staking Pool</h1>
<!--		<p class="subtext editable">Aussie Based</p>-->
<!--		<div class="cta button alt"><a href="{{ site.baseurl }}/sign-up/">Get Started Free</a></div>-->

	</div>
</section>

<!--<div class="content">-->
<!--	<div>-->
<!--		<img src="{{ site.baseurl }}/images/hairy_staking.png" />-->
<!--	</div>-->
<!--</div>-->

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Already know of <strong>Cardano</strong> and just want to stake your ADA?</h2>
				<p>Our ticker symbol is: <strong>HAIRY</strong></p>
			</div>

			<div class="image">
				<a href="https://cardano.org">
					<img src="{{ site.baseurl }}/images/cardano_hairy.png" alt="Screenshot"
						 class="screenshot editable"/>
				</a>
			</div>

		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>stake</strong> my ADA?</h2>
				<p>We recommend the use of of either the <strong>DAEDALUS</strong> or <strong>YOROI</strong> wallet.</p>
			</div>
			<div class="image">
				<a href="https://cardano.org/stake-pool-delegation/">
					<img src="{{ site.baseurl }}/images/wallet.png" alt="Screenshot" class="screenshot editable"/>
				</a>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>forecast</strong> the next 90 days?</h2>
				<p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/cardano_hairy.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
			<li>
				<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
				<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
				<div class="position">{{ person.position }}</div>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
					<p class="editable author">Jim James - CEO of Global Corp.</p>
				</blockquote>
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable"><strong>Stake</strong> your ADA today</h2>
		<div class="button alt"><a href="#">Get Started Now</a></div>
	</section>
</div>
